body {
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark text color */
  }
  
  h1 {
    color: #6A5A45; /* Match with your hair color */
  }
  
  
  #stats-container {
    background: #fff; /* White background */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
 
 
  
  /* Form container positioning */
  .form-container {
    position: absolute; /* Allows dynamic positioning */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better appearance */
    z-index: 1000; /* Ensures it appears above other elements */
    display: none; /* Initially hidden */
    width: 300px; /* Adjust based on your form size */
  }
  
  
  
  /* Optional: Styling for form fields */
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Optional: Button styles */
  button {
    padding: 10px;
    font-size: 16px;
  }
  